<%= link_to link,
            class: "btn btn-default btn-icon" do %>
          <span class="btn-inner--icon">
            <i class="fa fa-plus mr-2"></i>
          </span> <%= t('buttons.new') %>
<% end %>
